.vscode/
__pycache__/
*.pyc   
*.pyo
*.pyd
*.db
*.log
*.env
*.DS_Store
*.idea/
*.vscode/
*.egg-info/
*.coverage
*.mypy_cache/
*.pytest_cache/
*.tox/
*.dist-info/
*.egg
*.zip
*.tar.gz
*.rar           

*.tar
*.gz